<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GoogleSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.158444191079-a2g2n1ofphjis9l1k1l8sv0boqk9dedf</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Fraunces-Italic.ttf</string>
		<string>InstrumentSans.ttf</string>
		<string>ScriptMTBold.ttf</string>
		<string>FranklinGothicITALIC.ttf</string>
		<string>URWAgendaW01-Light.ttf</string>
	</array>
</dict>
</plist>
